
<!--<h1><%=@team.name%></h1>-->
<h1>Flatiron</h1>
<!--<h2>Team Motto: <%=@team.motto%></h2>
<%@team.members.each do |member|%>
  <h2>Hero Name:<%=member[:name]%></h2>
  <h3>Hero Power: <%=member[:power]%><h3>
  <h3>Hero Biography: <%=member[:bio]%><h3>--> 
<!--<% end %>-->


