
<h1><%=@team.name%></h1>

<h2>Team Motto: <%=@team.motto%></h2>
<%@team.members.each do |member|%>
  <h2>Hero Name: <%=member.name%></h2>
  <h4>Hero Power: <%=member.power%><h4>
  <h4>Hero Biography: <%=member.bio%><h4> 
<% end %>


